<%= form_tag project_outbound_email_path(@project), :method => :put do |f| %>
<div class="box tabular">
  <p>
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] || @project.email, :size => 60 %>
  </p>
</div>
<%= submit_tag l(:button_update) %>
<% end %>

<% if @project.project_email %>
  <div class="contextual">
    <%= link_to l(:button_reset), project_outbound_email_path(@project),
        :method => :delete, :confirm => l(:text_are_you_sure),
        :class => "icon icon-del" %>
  </div>
<% end %>
